
.mainBoardSquare {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}
.moveDrawingSquare {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
}

.aPawn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}
.aGuru {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}

.bPawn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}
.bGuru {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}

#moveDrawingDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    border: 2px solid #f00;
}
#originDiv {
    position: absolute;
    left: 50%;
    top: 50%;
}
#moveSuggestionCircle {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}

#moveSuggestionLine {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}

#moveSuggestionBox {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}