body {
    font-family: Tahoma;
}

.mainBoardSquare {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
}
.moveDrawingSquare {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 35px;
    height: 35px;
}

.aPawn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
}
.aGuru {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
}

.bPawn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
}
.bGuru {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
}
.playerMoveLabels {
    font-size: 1em;
}
#commitMoves {
    position: fixed;
    left: 0;
    top: 0;
    padding: 2px;
    width: 200px;
    height: 50px;
}
#controls {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background: #AAA;
    box-sizing: border-box;
    border: 2px solid #000;
}
#moveDrawingDiv {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 200px;
}
#moveSuggestionCircle {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}
#moveSuggestionLine {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}
#moveSuggestionBox {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    pointer-events: none;
}
#originDiv {
    position: absolute;
    left: 50%;
}
#otherPlayerMoveBox {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    pointer-events: none;
}
#redPartOfEvaluationBar {
    position: absolute;
    display: block;
    width: 50px;
    left: 50%;
    top: 50%;
    pointer-events: none;
}
#bluePartOfEvaluationBar {
    position: absolute;
    display: block;
    width: 50px;
    left: 50%;
    top: 50%;
    pointer-events: none;
}
#blueWinProbabilityText {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    height: 100px;
    color: #000;
    pointer-events: none;
}
#userMessage {
    position: inline;
    width: 400px;
    margin: 3px;
    height: 4em;
    margin: 4px;
    border: 3px solid #666;
    border-radius: 4px;
    padding: 5px;
    transition: 0.12s;
}
#yourMoveBox {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    pointer-events: none;
}
#selectedMoveArrow {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    pointer-events: none;
}